.content-header {
    padding: .5em;
    background-color: rgba(72, 39, 106, .5);
    margin: 0;
}
.content-box {
    width:100%;
}
.iframe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 50%;
    padding: .8em 3em 1em 1em;
    vertical-align: middle;
}
@media screen and (max-width: 860px) {
    .iframe {
        border-style: none;
        padding: 1em;
        display: block;
        width: 100%;
    }
}