.track-qv-rec {
    padding: .8em;
    margin: .8em auto;
    display: inline-block;
}
.rec-tracks-bar {
    padding: .2em;
    margin: 1em;
    border: solid 2px white;
    border-radius: 25px;
}
.rec-track-head {
    background-color: rgba(134, 133, 133, 0.2);
    border-bottom: solid 2px white;
    padding: 1em;
}