*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  color: #571B7E;
  background: #fff url(./background.png) no-repeat right top;
  background-attachment: fixed;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.vert-top {
    vertical-align: top;
}
hr {
    border-color: #48276a;
    margin: 1em 0;
}
.call-to-act {
    color: #48276a;
    font-weight: 500;
    border-bottom: 2px solid white;
}
button {
    cursor: pointer;
    border-radius: 25px;
    padding: 1em;
}
h1 {
    font-size: 2.5em;
}
