*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  background: #fff url(./background.png) no-repeat right top;
  background-attachment: fixed;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.vert-top {
    vertical-align: top;
}
hr {
    border-color: #48276a;
    margin: 1em;
}
.call-to-act {
    color: #48276a;
    font-weight: 500;
    border-bottom: 2px solid white;
    text-shadow: none;
    font-size: 1.1em;
    text-transform: uppercase;
}
button {
    cursor: pointer;
    border-radius: 25px;
    padding: 1em;
}
h1 {
    font-size: 2.5em;
}
.comp-name {
    color: #48276a;
    text-shadow: .02em .02em #eee;
    font-size: 5em;
}
.comp-action {
    font-size: 3em;
}
.page-head {
    color: #48276a;
    text-shadow: .02em .02em #eee;
    font-size: 3.3em;
    padding: .1em .5em;
}
.page-second {
    text-shadow: .04em .04em #575757;
    font-size: 2.5em;
    padding: .1em .5em;
    margin-bottom: .5em;
}
