.article-link {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    padding: .2em;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    text-shadow: .04em .04em #575757;
}
.article-link li {
    list-style-type: none;
}
.article-link:first-letter {
    text-transform:capitalize;
}