.navbar {
    color: #343434;
    text-shadow: none;
    width: 102%;
    background-color: rgba(238, 238, 238, .7);
    height: 7em;
    text-align: right;
    top: -1.7em;
    margin-left: 0;
    margin-right: 0;
    right: .8em;
}
.logo {
    position: relative;
    top: 2.5em;
}
.nav-item-li {
    display: inline-block;
    padding: .8em;
    margin: .5em;
    border-style: ridge;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    bottom: 2.2em;
}
