.navbar {
    color: #343434;
    width: 100%;
    background-color: rgba(238, 238, 238, .7);
    height: 7em;
    top: -2em;
    text-align: right;
    right: -.7em;
}
.logo {
    position: relative;
    top: 2.5em;
}
.nav-item-li {
    display: inline-block;
    padding: .8em;
    margin: .5em;
    border-style: ridge;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    bottom: 2.2em;
}
