.login-box {
    text-align: left;
    padding: 3em;
    margin: 1em auto;
    border: solid 2px white;
    border-radius: 25px;
    width: 50%;
    background-color: rgba(134, 133, 133, 0.2);
}
label,
input {
    padding: .2em;
    margin: .5em;
    width: 90%
}
@media screen and (max-width: 790px) {
    .login-box {
        width:90%;
    }
}