.track-box {
    border: solid 2px white;
    margin-left: auto;
    margin-right: auto;
}
.nav-tabs {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238, .3);
    padding: 1em;
}
.tab-title {
    margin-left: auto;
    margin-right: auto;
}
.track-content-box {
    padding: .8em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}