.sidebar {
    border: .2em solid white;
    padding: 1em;
    margin: 0 auto;
    border-radius: 25px;
    width: 30%;
    display: inline-block;
    background-color: rgba(134, 133, 133, 0.2);
}
.sidebar-head {
    padding: .5em;
    margin: .2em auto;
    font-size: 1.3em;
}