.nav-item {
    display: inline-block;
    padding: .8em;
    margin: .5em;
    border-style: ridge;
    border-radius: 25px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}
.logo-nli {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
}
