*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: #fff url(./background.png) no-repeat right top;
  background-attachment: fixed;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.vert-top {
    vertical-align: top;
}
