.track-qv {
    border-right: .1em solid #48276a;
    border-left: .1em solid #48276a;
    margin: 1em;
    border-radius: 25px;
    width: 10em;
    height: 22em;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(134, 133, 133, 0.2);
}
.track-image {
    padding: 1em;
    margin: 1em auto;
    border: .05em solid white;
    border-radius: 3px;
}
.track-name {
    font-size: 1.3em;
    padding:.3em;
}
.track-name-box {
    height: 5em;
}
.user-message {
    font-size: 1em;
    color: #48276a;
    width: 100%;
    padding: .2em;
}