.track-qv {
    border-right: .1em solid white;
    border-left: .1em solid white;
    padding: .2em;
    margin: 1.3em auto;
    border-radius: 25px;
}
.track-image {
    padding: 1em;
    margin: 1em auto;
    border: .05em solid white;
    border-radius: 3px;
}